@import 'tailwindcss';

@theme {
  --container-8xl: 1440px;

  --breakpoint-2xl: 1440px;

  --font-logo: Orbitron, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer base {
  body {
    @apply bg-neutral-950;

    * {
      @apply font-mono text-gray-400 tracking-wide;
    }

    *:focus {
      @apply outline-2 outline-offset-2 outline-emerald-500;
    }

    *::selection {
      @apply bg-emerald-700 text-neutral-950;
    }

    label {
      @apply text-sm text-neutral-300;
    }

    input,
    textarea {
      @apply p-2 border border-emerald-800 w-full rounded-sm bg-neutral-900 text-gray-300;

      &:focus {
        @apply shadow-[0_1px_2px_0_rgba(0,0,0,.05)] border-emerald-500;
      }
    }

    button {
      @apply p-2 rounded-sm bg-emerald-500 text-neutral-900 hover:bg-emerald-600 font-bold tracking-wide font-sans;
    }
  }
}
